<!DOCTYPE html>
<html>
  <head>
    <title>Vibration Measurement</title>
    <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
  </head>
  <body>
    <div class ="machine-list" style="margin:30px">
      <table class="table">
       <tr>
         <th>#</th>
         <th>Machine Name</th>
         <th>Area</th>
         <th>Avg Value</th>
         <th>Last Measurement Time</th>
       </tr>
        {% for machine in machines %}
       <tr>
           <td><a href="/machine/{{ machine.id }}">{{ machine.id }} </td>
           <td>{{ machine.name }}</td>
           <td>{{ machine.area }}</td>
           <td>{{ machine.rms }}</td>
           <td>{{ machine.last_measurement_time }}</td>
       </tr>
      {% endfor %}
     </table>
    </div>
  </body>
</html>
