<!DOCTYPE html>
<html lang = "en">
  <head>
      <meta charset = "utf-8">
      
      <title>Machine Measurent Details</title>
      
      <!-- Bootstrap -->
      <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
      
   </head>
     <body>
       <div class="home">
        <a href="/">Home</a>
        <h1> {{machine_details['name']}} </h1>
        <h5> Location: {{machine_details['area']}} </h5>
        <h5> Avarage Measurent: {{machine_details['rms']}} </h5>
       </div>
       <h4 class="home">Trend</h4>
      
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      
      <div class="overall-box">
        <div class="link-box">
          Zoom: 
          <a href="#" id="1d" class="day-link" onclick="drawBrush(1)">1d</a>
          <a href="#" id="1d" class="day-link" onclick="drawBrush(7)">7d</a>
          <a href="#" id="1d" class="day-link" onclick="drawBrush(30)">30d</a>
          <a href="#" id="1d" class="day-link" onclick="drawBrush(all)">all</a>
        </div>
        <div class="last-avg" style="position:relative;left:850px">
          Last Measurement : <span class="avg-date">{{machine_details['last_measurement_time']}}</span>
        </div>
        <div class="d3-box">
        </div>
      </div>
      
   </body>
</html>
<style>
  .link-box{
    margin: 5px;
    margin-left: 50px; 
   }
  .day-link{
      margin: 10px;
    }

  .home{
    position:relative;
    left:50px;
  }

  .overall-box{
      width: 1200px; 
      margin-left: 20px;
      outline: 1px solid black;
  }

  svg {
    font: 10px sans-serif;
  }

  .area {
    fill: steelblue;
    clip-path: url(#clip);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

</style>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script>

  var data = {{ data | tojson }};
  
  var margin = { top: 20, right: 10, bottom: 100, left: 40 },
      margin2 = { top: 430, right: 10, bottom: 20, left: 40 },
      width = 1150 - margin.left - margin.right,
      height = 500 - margin.top - margin.bottom,
      height2 = 500 - margin2.top - margin2.bottom;

  var parseDate = d3.time.format("%Y-%m-%d %H:%M:%S").parse;

  var x = d3.time.scale().range([0, width]),
      x2 = d3.time.scale().range([0, width]),
      y = d3.scale.linear().range([height, 0]),
      y2 = d3.scale.linear().range([height2, 0]);

  var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(d3.time.hour, 1),
      xAxis2 = d3.svg.axis().scale(x2).orient("bottom").ticks(d3.time.hour, 1),
      yAxis = d3.svg.axis().scale(y).orient("left");

  var brush = d3.svg.brush()
      .x(x2)
      .on("brush", brushed);

  var area = d3.svg.area()
      .interpolate("monotone")
      .x(function (d) { return x(d.created_at); })
      .y0(height)
      .y1(function (d) { return y(d.value); });

  var area2 = d3.svg.area()
      .interpolate("monotone")
      .x(function (d) { return x2(d.created_at); })
      .y0(height2)
      .y1(function (d) { return y2(d.value); });

  var svg = d3.select("body .d3-box").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom);

  svg.append("defs").append("clipPath")
      .attr("id", "clip")
    .append("rect")
      .attr("width", width)
      .attr("height", height);

  var focus = svg.append("g")
      .attr("class", "focus")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var context = svg.append("g")
      .attr("class", "context")
      .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");

// Formet Data
  data.forEach(function(d) {
      type(d)
  });

    var xMin = d3.min(data, function(d) { return d.created_at; });
    var xMax = d3.max(data, function(d) { return d.created_at; });
    
    function drawBrush(innerText) {
      newDate = xMin;
      if(innerText == 30){
         newDate = d3.time.day.offset(xMax, -30);
      }
      else if(innerText == 7){
        newDate = d3.time.day.offset(xMax, -7);
      }
      else if(innerText == 1){
        newDate = d3.time.day.offset(xMax, -1);
      }

      brush.extent([newDate, xMax]);

      brush(d3.select(".brush").transition());

      brush.event(d3.select(".brush").transition())
    }

    x.domain([xMin, xMax]);
    y.domain([0, d3.max(data.map(function (d) { return d.value; }))]);
    x2.domain(x.domain());
    y2.domain(y.domain());

    focus.append("path")
        .datum(data)
        .attr("class", "area")
        .attr("d", area);

    focus.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    focus.append("g")
        .attr("class", "y axis")
        .call(yAxis);

    context.append("path")
        .datum(data)
        .attr("class", "area")
        .attr("d", area2);

    context.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height2 + ")")
        .call(xAxis2);

    context.append("g")
        .attr("class", "x brush")
        .call(brush)
      .selectAll("rect")
        .attr("y", -6)
        .attr("height", height2 + 7);

  function brushed() {
    x.domain(brush.empty() ? x2.domain() : brush.extent());
    focus.select(".area").attr("d", area);
    focus.select(".x.axis").call(xAxis);
  }

  function type(d) {
    d.created_at = parseDate(d.created_at);
    d.value = +d.value;
    return d;
  }

</script>
